@import "../../assets/fonts/fonts.scss";
.header {
    z-index: 25;
    width: 100%;
    position: fixed;
    height: 100px;
    background-color: #000000c4;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;/* veya diğer uygun karışım modu */
    padding: 0 96px;
    &Text{
        font-size: 36px;
        font-family: EXO-BOLD;
        color: #ffffff;
    }
  }
 