@font-face {
    font-family: EXO-BOLD;
    src: url(./all-fonts/Exo-Bold.ttf);
}
@font-face {
    font-family: EXO-SEMIBOLD;
    src: url(./all-fonts/Exo-SemiBold.ttf);
}
@font-face {
    font-family: EXO-NORMAL;
    src: url(./all-fonts/Exo-VariableFont_wght.ttf);
}
@font-face {
    font-family: EXO-THIN;
    src: url(./all-fonts/Exo-Light.ttf);
}